outputs/
dataset/POSENTADORIA.CSV
dataset/ENSAO.CSV
dataset/EN_MICRODADOS01.APO.AUX.csv
dataset/EN_MICRODADOS02_PENS.csv
datasrc
sandbox
compose/data
.ipynb_checkpoints/
analysis/model/__pycache__/
*#
